<HdlWorker Language="vhdl" Spec="mfsk_mapper-spec" version='2'>
  <SpecProperty Name="input_data_byte_grouping" Parameter="true" />
  <Property Name="DIN_WIDTH_p" Type="ulong" Value="input_data_byte_grouping * 8" Readable="true" Parameter="true"/>
  <StreamInterface Name="in" DataWidth="DIN_WIDTH_p"/>
  <StreamInterface Name="out" DataWidth="16" inserteom='1'/>
</HdlWorker>
