# Lines starting with '#' are considered comments.
# Ignore (generated) html files,
#*.html
# except foo.html which is maintained by hand.
#!foo.html
.tags*
TAGS
# Ignore objects and archives.
*.obj
*.lo
.dirstamp
*.so
*.dylib
*.exe
*~
*.d
*.o
*/*/*/*/idl/*.cxx
*/*/*/*/idl/*.h
*-bin/
target-*/
*.deps
gen/
**/driver/modules.order
# temporary, until we rename targets
*.old
*.bak
*.hold
*.orig
*.log
a.out*
\.\#*
\#*\#
.DS_Store
timeData.raw
*.pyc
lib/
run/
!/platforms/xilinx*/opencpi-*-release*/**/lib
!/platforms/xilinx*/opencpi-*-release*/**/*.so
tools/cdk/export/*
tools/cdk/include/ctests/*
my-env.sh
myzed.sh
exports
