// THIS FILE WAS ORIGINALLY GENERATED ON Fri Aug 27 17:49:50 2010 EDT
// BASED ON THE FILE: ddc.xml
// YOU ARE EXPECTED TO EDIT IT
// This file contains the implementation skeleton for worker: ddc

`include "ddc_impl.v"



endmodule //ddc
